# Proyecto C&P
Desarrollar una automatización que permita extraer e interpretar la data del archivo Student-mat.csv y Student-por.csv de manera que una la información solicitada de ambos archivos y realice los requerimientos solicitados

# Pasos:

## 1) importar los datos a python

In [5]:
# normalmente los archivos csv vienen separados por , este es especial y esta separado por ;

import pandas as pd

data_mat=pd.read_csv("student-mat.csv",sep=";") #data original
data_por=pd.read_csv("student-por.csv",sep=";") #data original

data_mat

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

## 2)

Cree un DataFrame para cada escuela, con el formato de nombre “nombrecolegio_curso” que reúna los datos de las columnas:  school, sex, age, address, Pstatus, guardian, traveltime, studytime, failures, paid, internet, health, absences, G1,G2,G3

In [19]:
from IPython.core.display import HTML


# PRIMERO FILTRO LOS DATOS Y TOMO SOLO LAS COLUMNAS QUE ME PIDIERON
# Y CREO UN DF PARA MAT Y OTRO PARA POR

# AQUI FILTRAMOS POR COLUMNAS



df_mat=data_mat[["school", "sex", "age", "address", "Pstatus", "guardian",
                 "traveltime", "studytime", "failures", "paid", "internet",
                 "health", "absences", "G1","G2","G3"]] #filtro para sacar las columnas que queria

#display(HTML(df_mat.to_html())) # esto reemplaza nuestro print para ver los df bonitos

df_por=data_por[["school", "sex", "age", "address", "Pstatus", "guardian",
                 "traveltime", "studytime", "failures", "paid", "internet",
                 "health", "absences", "G1","G2","G3"]]
#display(HTML(df_por.to_html()))


# Ahora si, necesito separar cada dataframe por colegios

# FILTRO POR FILAS

df_mat_sep=df_mat.groupby(["school"]) # groupby busca cosas repetidas en la columna que le digo y las agrupa
df_por_sep=df_por.groupby(["school"])


for key,group in df_mat_sep:
    
    if key=="GP":
        #print(f"la key es: {key} y el grupo es : \n ")
        #print(group)
        gp_mat=group
    
    elif key=="MS":
        #print(f"la key es: {key} y el grupo es : \n ")
        #print(group)
        ms_mat=group
        
#display(HTML(ms_mat.to_html())) #verifico
    
for key,group in df_por_sep:
    
    if key=="GP":
        #print(f"la key es: {key} y el grupo es : \n ")
        #print(group)
        gp_por=group
    
    elif key=="MS":
        #print(f"la key es: {key} y el grupo es : \n ")
        #print(group)
        ms_por=group 

# que hicimos?

#ahora tenemos lo que me pidieron

# cada colegio y curso solos

# gp_mat
# gp_por
# ms_mat
# ms_por
     
# cada materia con ambos colegios
# df_mat
# df_por

## 2)
Verifique que no haya data de valor nulo (NaN), en caso de encontrar algún valor NaN se deberá eliminar toda la fila